.lower-section{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;

  height: 100px;
   
}

.chat-input {
  display: flex;
  align-items: center;
  gap: 8px;

  background: var(--primary-color); 
  border: 2 px solid var(--accent-color-inactive);      
  border-radius: 9999px;   
  backdrop-filter: blur(8px);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.06);
  outline: none;    
  

  max-width: 800px;   
  min-width: 200px;
  height: 40px;

  margin: 0px auto; 
  padding: 10px 20px;   
  
  transition: all 0.2s ease;
}

.chat-input input {
  flex: 1;
  background: transparent;     /* blend with container */
  border: none;
  outline: none;
  color: var(--text-color);
  font-size: 18px;
}



.chat-input input::placeholder {
  color: var(--text-color-fadded);
}

.chat-input:focus-within {
  border-color: var(--accent-color-active);
  box-shadow: 0 0 0 2px var(--accent-color-active);
              
}

.submit{
  display: inline-flex;       /* makes it flexible for icon+text later */
  align-items: center;
  gap: 6px;

  padding: 8px 16px;

  background: transparent;  /* light gray background */
  color: var(--text-color);                /* dark text */
  border: 1px solid var(--accent-color-inactive);     /* subtle border */
  border-radius: 33px;         /* rounded corners */

  cursor: pointer;
  transition: background 0.2s ease, border 0.2s ease;

}


.submit:hover {
  border-color: var(--accent-color-active);
  color: var(--accent-color-active);
}