.header{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  height: 100px;
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: row;  
  justify-content: flex-start; 
  align-items: center; 
} 

.header-left{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;

  margin: 0px 0px 0px 20px;
  padding: 0;

  display: flex;
  flex-direction: row;  
  justify-content: flex-start; 
  align-items: center; 

}

.header-right{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;

  margin: 0px 20px 0px 0px;
  padding: 0;


  display: flex;
  align-items: center;   
  justify-content: center; 

 
}

.new-chat-button {
  display: inline-flex;       /* makes it flexible for icon+text later */
  align-items: center;
  gap: 6px;

  padding: 8px 16px;
  font-size: 14px;
  font-weight: 500;

  background: var(--primary-color);  /* light gray background */
  color: var(--text-color);                /* dark text */
  border: 1px solid var(--accent-color-inactive);     /* subtle border */
  border-radius: 20px;         /* rounded corners */

  cursor: pointer;
  transition: background 0.2s ease, border 0.2s ease;
}

.new-chat-button:hover {
  border-color: var(--accent-color-active);
  color: var(--accent-color-active);
}

.chat-container{
  position: fixed; 
  bottom: 25px;
  left: 0;
  right: 0;
  top: 25px;
  
  background: #39393936; /* frosted glass */
  backdrop-filter: blur(12px) saturate(180%);
  -webkit-backdrop-filter: blur(12px) saturate(180%);

  border-radius: 33px;
  border: 1px solid var(--accent-color-active);

  box-shadow: 
    0 4px 20px rgba(0, 0, 0, 0.35),  /* outer shadow */
    inset 0 1px 4px rgba(255, 255, 255, 0.6); /* inner glow */

  transition: all 0.3s ease;

  
  max-width: 1000px;   
  min-width: 200px;

  margin: 0px auto 100px auto;
  padding: 33px;

  /* Add scrolling */
  overflow-y: auto;
  overflow-x: hidden;
  
  /* Hide scrollbar */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

.chat-container::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

